html {
    font-family: 'Montserrat';
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}
.navbar__link a {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #ff6060;
    text-decoration: none;
}

.navbar__link :nth-child(2) {
    margin-left: 57px;
}
.navbar--active {
    position: relative;
}

.navbar--active::after {
    content: '';
    height: 2px;
    width: 0;
    background: #ff6060;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.6s ease forwards;
    animation: anim 0.6s ease forwards;
}

@-webkit-keyframes anim {
    to {
        width: 100%;
    }
}

@keyframes anim {
    to {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar__logo {
        width: 145px;
        height: 47px;
    }
    .navbar__link a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
    }
    .navbar__link :nth-child(2) {
        margin-left: 20px;
    }
}
