.charte__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.bg-presentation--apropos {
    margin-top: 5%;
    margin-bottom: 4%;
}

.bg-presentation--apropos img {
    height: 223px;
    object-fit: cover;
    width: 100%;
    filter: brightness(70%);
    border-radius: 10px;
}

.charte__card__header {
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 10px 30px 10px 17px;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.charte__card__header h2 {
    color: white;
    font-size: 24px;
}

.charte__card__header i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.charte__card__body {
    z-index: 0;
    position: relative;
    top: -5px;
    padding: 20px 15px;
    background-color: #f6f6f6;
    border-radius: 5px;
}
.charte__card__body.active {
    opacity: 1;
    max-height: 300px;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}
.charte__card__body.inactive {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.charte__card__body p {
    display: block;
    font-weight: 400;
    font-size: 24px;
    color: #ff6060;
}

@media only screen and (max-width: 767px) {
    .bg-presentation--apropos img {
        height: 223px;
        object-fit: cover;
    }
    .charte__card__body p {
        font-size: 15px;
    }
    .charte__card__header h2 {
        color: white;
        font-size: 18px;
    }
    .charte__card__header {
        align-items: center;
        padding: 10px 15px 10px 12px;
    }
}
