.charte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    padding: 0 100px;
    margin-bottom: 5%;
}
@media only screen and (max-width: 991px) {
    .charte {
        display: block;
        width: 100%;
        padding: 0;
    }
}
