.content-error {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

.number {
    color: #ff6060;
    font-weight: 700;
    font-size: 288px;
}

.title {
    color: #ff6060;
    margin-top: 4%;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.link {
    color: #ff6060;
    margin-top: 13%;
    font-weight: 500;
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    .content-error {
        margin-top: 50%;
    }
    .number {
        font-size: 96px;
    }
    .title {
        font-size: 18px;
    }
    .link {
        margin-top: 40%;
    }
}
