.third-info__card {
    width: 48%;
    margin-bottom: 10%;
}

.third-info__card__header {
    position: relative;
    z-index: 1;
    padding: 15px 20px 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 10px;
}

.third-info__card__header h3 {
    font-weight: 500;
    font-size: 18px;
}

.third-info__card__header i {
    font-size: 20px;
    cursor: pointer;
}

.third-info__card__body {
    z-index: 0;
    position: relative;
    top: -5px;
    padding: 20px 15px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.third-info__card__body.active {
    opacity: 1;
    max-height: 300px;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease-in-out;
}
.third-info__card__body.inactive {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.third-info__card__body p {
    color: #ff6060;
    font-weight: 400;
    font-size: 18px;
}
