.second-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    gap: 20%;
}

.second-info__renter__img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
}

.second-info__renter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second-info__renter p {
    color: #ff6060;
    width: 100px;
    text-align: right;
    padding-right: 5px;
    line-height: 30px;
}

.second-info__rate {
    display: flex;
    gap: 7px;
}
@media only screen and (max-width: 991px) {
    .second-info {
        margin-bottom: 5%;
    }
    .second-info__renter {
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 767px) {
    .second-info {
        align-items: center;
        margin-top: 5%;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }
    .second-info__renter__img {
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
    .second-info__renter p {
        width: 70px;
        line-height: 18px;
        font-size: 14px;
    }
    .second-info__rate svg {
        width: 25px;
        height: 25px;
    }
}
